@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 6px;
  /* --primary-foreground: 0, 7%, 45%; */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0ea5e9, #22c55e);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0ea5e9, #22c55e);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0ea5e9, #22c55e);
}
