@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 6px;
  /* --primary-foreground: 0, 7%, 45%; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6f2ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #007bff, #3ac262);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0066cc, #2da450);
}
